html
	head
		link(rel='stylesheet', href='css/main.css')
		link(href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet")
		body
				h1 Bernie's Supporters App
					br
					ul
					li: a(href='users') fan base
					li: a(href='searchuser') search devotee
					li: a(href='newuser') add aficionado
						script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
						script(src="js/main.js")



