html
	head
		link(rel='stylesheet', href='css/main.css')
		link(href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet")
		body
			h1 Search devotee
				
			form(action="search_user" method="post")
				input(type="text" name="search_bar")
				br
				br
				input(type="submit" value="Search users!")


		